
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    /* font-family: 'Bangers', cursive;
    font-family: 'Catamaran', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4,h5,h6{
    font-family: 'Catamaran', sans-serif;
    color: rgb(209, 206, 206);

}

p{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.btn{
    color: white;
    border:   2px solid  rgb(143, 143, 15); 
    transition: .3s;
    font-weight: bold;
}

.btn:hover{
    color:   rgb(143, 143, 15);
    border-color: white;
}

.title{
    border: 2px solid rgb(177, 173, 173, 0.493);
    width: fit-content;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 70px;
}

.title h2{
    font-size: 100%;
}
/* nav bar design starts */
.navbar-brand p{
    font-family: '', cursive;
    font-size: 1.1rem;
}


.navbar-brand .schl-srt{
    position: absolute;
    bottom: 0;
}


nav{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.74);
    padding:  0 30px ;
    width: 100vw;
    z-index: 99;
 }
 
.nav-title{
     padding: 1px 0px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .line{
     height: 1px;
     width: 20px;
     background-color: rgb(255, 255, 255);
     margin: 5px;
 }
 
 .hamburger{
     z-index: 2;
     
 }
 
 .nav-menu{
    
     text-align: center;
     height: 00vh;
     transition: 1s;
 }
 
 /* eita toggle er jonno */
 
 .nav-menu{
     height: 0px ;
     overflow: hidden;
     transition: 1s;
 }
 
 .nav-menu.open{
     height: 500px;
 }
 
 
 .nav-links{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }
 
 .nav-menu li{
     list-style-type: none;
     margin: 20px;
 }
 
 .nav-menu li a{
     font-size: 2rem;
     text-decoration: none;
     color: white;
     user-select: none;
     font-family: 'Catamaran', sans-serif;
     border: 3px solid transparent;
     padding: 5px 20px;
     
 }

 
 .nav-links a:hover{
  color:   rgb(143, 143, 15);
  transition: .3s;

}
/* nav bar design Ends */


/* front page design stars here */


.front{
    position: relative;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    padding-top: 0;
}

.bg-vdo{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    position: absolute;
    margin: 0;
    padding: 0;    
    width: 100vw;
    transform: scale(1.5);
}

.bg-vdo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.front-text{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;    
} 

.front-text h1,
.front-text h6,
.front-text a{
    font-size: 100%;
}

/* front page design Ends here */

/* features starts */

#features{
    background-color: rgb(11, 11, 48);
    margin-top: -5px;
    padding: 20px;
}

.front-card{
    background-color: transparent;
    transition: .5s;
    color: white;    
}

.front-card h4{
    font-size: 100%;
    padding-left: 1rem;
}

.front-card-container{
    background-color: rgb(11, 11, 48);
    color: white;   
    height: 87px;
    transition: .5s;
    padding: 0 10px ;
    overflow: hidden;
}

#features p{
    color: white;
}


.front-card:hover .front-card-container{
    height: 287px;
    
}


.front-card i{
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: white;
}

/* features Ends */


/* about us section starts from here */
    #about{
        background-image: url("image_video/about\ bg.jpg");
        background-size: cover;
        padding-top: 100px;

    }


    .about{
        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

   
    .about a{
        color: white;
       text-decoration: none;
       padding: 10px;
       font-size: 17px;
       font-weight: bold;
    }

    .about a:focus{
        color: rgb(230, 230, 17);
    }

    .option{
        margin-bottom: 50px;
    }

    .about-info{
       text-align: center;
   
    }

/* about us section Ends from here */

/* offer section start */

#offer{
    background-image: url("image_video/offer-bg.jpg");
    background-size: cover;
}

.offer{    
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.8) !important;
}

.cd{
    height: auto;
    background: rgba(95, 95, 91, 0.171);
    max-width: 110px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cd p, .cd h1{
    font-family: '', cursive;
    font-size: 2rem;
    color: rgb(172, 172, 18);
}

.cd h1{
    font-size: 3.5rem;
    color: white;
}

.main-form input, textarea{
    height: 50px;
    width: 80%;
    margin: 10px;
    text-align: left;
    padding: 10px;
    outline: none;
    background-color: rgba(52, 53, 53, 0.473);
    border: none;
    color: white;
    font-size: 20px;
}

.offer-form{
    background-color: rgba(52, 53, 53, 0.473);
    margin: 5%;    
    width: 70%;
    margin: 0 auto;
}

.offer-body{
    padding: 50px;
}

::placeholder{
    color: rgb(184, 179, 179);
  
}

.form-text{
    padding: 20px 0;
    background-color:rgba(52, 53, 53, 0.473);
    margin-bottom: 30px;
}

.main-form .btn{
    width: 150px;
    padding: 10px;
    background-color: rgba(240, 240, 49, 0.692);
}

.main-form .btn:hover{
    background-color: rgba(240, 240, 49, 0.822);
    color: white;
    font-weight: bold;
    border-color: transparent;
}
/* offer section Ends */

/* courses section starts from here */

.courses{
    background-image: url("image_video/about\ bg.jpg");
    background-size: cover;
    height: auto;
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course .title h2{
    font-size: 100%;
}

.item{
    color: white;
    border: .1px solid rgba(83, 81, 81, 0.048);
    margin: 0 auto ;
    overflow: hidden;
    border-radius: 10px;
    padding: 30px;
}

.course-teacher img{
    border: 2px solid orangered;
    height: 80px;
    max-width: 80px;
}

.card-body h3{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body{
    padding: 30px;
}
/* course section edit ends here */

/* learn more section design start from here */
#learn{
    background-image: url("image_video/learn-more-bg.jpg");
    background-size: cover;
    height: auto;
    padding: 130px 0;
    width: 100%;
    position: relative;
}

#learn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 2, 32, 0.548);
}

#learn::after{
    content: '';
    display: table; 
    clear: both;

    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: violet;
}

.learn-text .btn{
    width: 150px;
    padding: 10px;
    background-color: rgba(240, 240, 49, 0.692);
}

.learn-text .btn:hover{
    background-color: rgba(240, 240, 49, 0.822);
    color: white;
    font-weight: bold;
    border-color: transparent;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card-bottom i{
    color: orangered;
    font-size: 4rem;
}

.learn-text p{
    color: white;

}
/* learn more section design Ends here */

/*contact div design start  from here  */
#contact{
    background-image: url("image_video/about\ bg.jpg");
    background-size: cover;
    height: auto;
    padding: 100px 0;
    width: 100%;
}

#contact .offer-form{
    width: 100%;
}

#contact .title h2{
    font-size: 100%;
}

#contact .title{
    margin-bottom: 0;
}

#contact .textarea{
   height: 200px;
}

#contact button{
    margin-left: 0;

}
/*contact div design Ends  here  */

/* footer start */
#footer{
    background-color: black;
    height: auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.footer p{
    color: white;
}

.hr-rule{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    border: 3px solid white;
    border-bottom: none;
    margin-bottom: 20px;

}
.map{
    margin: 10px;
    width: 100%;
    height: 420px;
}
/* footer Ends */

